@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-serif;
  }
  h2 {
    @apply text-4xl font-serif;
  }
  h3 {
    @apply text-2xl font-serif;
  }
}

@font-face {
  font-family: 'Drainwood';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../public/fonts/Drainwood/Drainwood.otf');
}

@font-face {
  font-family: 'Megante';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../public/fonts/Megante/Megante.otf');
}

.section {
  @apply w-[1000px] max-w-[90%] mx-auto pt-32 flex flex-col items-center gap-10;
}

.section-title {
  @apply text-center;
}

.section-description {
  @apply px-4 lg:px-28;
}

body {
  margin: 0;
  padding: 0;
  font-family: Megante, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3ece6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}