@font-face {
  font-family: 'Drainwood';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Drainwood/Drainwood.otf');
}

@font-face {
  font-family: 'Megante';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Megante/Megante.otf');
}

body {
  margin: 0;
  font-family: Megante, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}