.input {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  transition: 0.5s;
  width: 90%;
  max-width: 600px;
  height: 45px;
  font-family: Megante;
  text-color: white !important;
}

.text-area {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  transition: 0.5s;
  max-width: 600px;
  font-family: Megante;
  text-color: white !important;
  max-height: 150px;
  overflow-y: auto;
  resize: none;
  width: 90%;
  padding: 0.8rem;
}

.submit-button {
  font-family: Megante;
  max-width: 600px;
  width: 90%;
  height: 45px;
  @apply bg-stone-500 hover:text-white hover:bg-stone-400 border-none text-white;
}

::placeholder {
  color: white;
}